if paginate.hasPreviousPages || paginate.hasNextPages(pageCount)
  ul
    if paginate.hasPreviousPages
      li
        a.button(href=paginate.href(true)) Prev
    if pages
      each page in pages
        a.button(href=page.url)= page.number
    if paginate.hasNextPages(pageCount)
      li
        a.button(href=paginate.href()) Next