extends layout

block content
  h1 Books
  form(action="/books/search" method="post")
    .search
      input.searchTerm(type='text' name="query" placeholder='Search books...')
      button.searchButton(type='submit')
      i.fa.fa-search
  p
    a.button(href='/books/new') Create New Book
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        book
          tr
            td
              a(href=`/books/${book.id}/update`)= book.title
            td= book.author
            td= book.genre
            td= book.year

//- include _paginate